/*
Copyright 2013 The Polymer Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/
:host {
  display: inline-block;
  padding: 8px;
  position: relative;
  background-image: none;
  outline: none;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  overflow: hidden;
}

:host([disabled]) {
  cursor: auto;
}

#ink {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  pointer-events: none;
  width: 100%;
}

:host([focused]) #ink::shadow #inkEffect {
  -webkit-transition: none !important;
  -webkit-animation: pulse-ink 0.7s infinite alternate;
}

core-icon {
  position: relative;
}

core-icon::shadow svg {
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}

:host(:hover) core-icon::shadow svg {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

:host([disabled]:hover) core-icon::shadow svg {
  transform: none;
  -webkit-transform: none;
}

:host([disabled]) core-icon::shadow path {
  fill: #c9c9c9;
}
